<!DOCTYPE html>
<html>
<head>
<%- include partials/header.ejs %>
	<title>Thank you</title>
</head>
<body>
<div id="thanks">
<h1>Thank you for submitting your information</h1>
<p>Your request for <strong>$<%=amount%></strong>  has been approved</p>
<p>Please visit the <strong>My Forms</strong> page to fill out the forms for your loan</p>
</div> 
</body>
</html>