<!DOCTYPE html>
<html>
<head>
<%- include partials/header.ejs %>
	<title>Sign Up</title>
</head>
<body>
	<div class="container mt-3" style="width:500px;">
		<div class="alert alert-danger" role="alert" style="display:<%=typeof(error)!='undefined'?'block':'none'%>">
			<%=error%>
		</div>
		<div class="card card-default">
			<div class="card-header">
				<h5 class="card-title">Sign Up</h5>
			</div>
			<div class="card-body">
				<form accept-charset="UTF-8" role="form" action="/create_account" method="post">
					<div class="form-group">
						<input class="form-control" placeholder="Username" name="username" type="text" required>
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Password" name="password" type="password" id="password" value="" required>
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Confirm Password" name="confirm_password" id="confirm_password" type="password" value="" required>
					</div>
					<input class="btn btn-lg btn-success btn-block" type="submit" value="Confirm">
				</form>
			</div>
		</div>
	</div>
	<script>
	var password = document.getElementById("password"),
		confirm_password = document.getElementById("confirm_password");
	function validatePassword(){
		if(password.value != confirm_password.value) {
			confirm_password.setCustomValidity("Passwords Don't Match");
		} else {
			confirm_password.setCustomValidity('');
		}
	}
	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
	</script>
</body>
</html>
