@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");


.jumbotron{
   background-color:#5B5740
}
html,body{
	background-color:#FFF;
	margin:0;
	font-family:sans-serif;
}

#page{
	display:flex;
	flex-direction:column;
	height:100vh;
}

#navbar{
	height:100%;
	width:150px;
	background-color:#333;
	overflow:auto;
	flex:0 0 auto;
	margin: 0;
	padding: 0;
	list-style:none;
	color:#FFF;
	line-height:40px;
}

#navbar > li{
	cursor:pointer;
	padding:0 10px;
}

#navbar > li.active{
	background-color:#444;
	border-left:4px solid #888;
}

#navbar > li:hover{
	background-color:#555;
}

#page-content{
	height:100%;
	width:100%;
	border:0;
	display:flex;
	flex-direction:row;
}

#content-frame{
	height:100%;
	width:100%;
	flex:1 1 auto;
	border:0;
}

#header{
	background-color:#DDD;
	height:40px;
	line-height: 40px;
	padding-left:10px;
	border:0;
}

#user-menu{
	float: right;
	height: 100%;
	width:40px;
	text-align:center;
	text-decoration: none;
	color: #FFF;
	background-color: #D50;
   font-size: 2em;
}

#user-menu-content{
	display:none;
	background-color:#FFF;
	box-shadow:0 3px 5px #AAA;
	position:absolute;
	width:auto;
	right:0;
	top:40px;
	list-style:none;
	padding:0;
	margin:0;
}

#user-menu-content > li {
	padding:0 15px;
	margin:0;
	cursor:pointer;
}

#user-menu-content > li:hover {
	background-color:#DDD;
}

#user-menu:focus+#user-menu-content,
#user-menu-content:hover{
	display:block;
}

.container{
  background-color:#87BBA2;

}

